.input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  line-height: 2;
  color: var(--blue);
  font-weight: normal;
  border: 1px solid var(--blue);
  border-radius: var(--borderRadius);
}