.btn {
  width: 100%;
  height: 50px;
  border: 0;
  padding: 10px;
  border-radius: var(--borderRadius);
  cursor: pointer;
}

.btn:disabled {
  opacity: 0.6;
  cursor: default;
}

.default {
  composes: btn;
  background-color: var(--blue);
  color: var(--white);
}