:root {
  --bgColour: #F3F3F3;
  --blue: #08C;
  --white: #FFF;
  --red: #E62429;
  --borderRadius: 3px;
  font-family: Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
  word-wrap: break-word;
  white-space: normal;
  hyphens: auto;
}

td {
  width: 300px;
}

main {
  padding: 2em calc(50% - 460px);
}
